<html>
	<head>
		<style>
			h1 {
				color: red;
			}
		</style>
	</head>
	
	<body>
	<% 
		for (var i = 0; i < 100; i++) {
	%>		
		<h1>Hello <%=name%> loves <%=food%></h1>
	<%
		}
	%>
		


	</body>
</html>